<!DOCTYPE html>
<meta charset="utf-8">

  <link rel="icon" href="data:,">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/public/css/flag-icon.min.css">
  <link rel="stylesheet" href="/public/css/pg.css">

<style>
html, body {
  height: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* prevent scrollbars popping up due to rounding errors */
}

#links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

#nodes circle {
  stroke: #000;
  stroke-width: 1.5px;
}

#nodes g.win circle {
  fill: green;
}

#links line.percolating {
  stroke-width: 5px;
  stroke: blue;
}

#links line.survived {
  stroke-width: 3px;
  stroke: green;
}

form {
  z-index: 10; /* put on top of canvas */
  background-color: #fff;
}
</style>
<body>
  <%- include('lang-controls', {url: url}); %>
  <div class="container">
    <div class="row justify-content-center" id="add-node-container">
      <form class="form-inline mt-3">
        <label class="my-1 mr-2" for="speed" data-i18n-key="percolation-speed"></label>
        <input type="range" class="my-1 mr-2" min="1" max="10" id="speed" value="1" onchange="updateSpeed(this.value)">
        <button class="btn btn-danger my-1 mr-2" onclick="percolate()"
            data-i18n-key="percolation-do"></button>
        <button class="btn btn-danger my-1" onclick="restart()"
            data-i18n-key="reset"></button>
      </form>
    </div>
  </div>
  <div id="canvas"></div>
</body>
<script src="<%= URL_PREFIX %>/js/i18n.js"></script>
<script src="<%= URL_PREFIX %>/socket.io/socket.io.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/d3-force-boundary@0.0.1/dist/d3-force-boundary.min.js"></script>
<script>
const pathSplit = window.location.pathname.split('/');
const URL_PREFIX = '/' + pathSplit[1];
const roomPath = pathSplit[3];

// disable form submission; we handle everything using AJAX
$('form:not(.lang-switch)').on('submit', (e) => e.preventDefault());

const socket = io({
  path: '<%= URL_PREFIX %>/socket.io',
  query: {
    room: roomPath
  },
  transports: ['polling']
});

socket.once('get-data', (g) => {
  graph = g; // populate global variable
  graph.nodes.forEach(function(v) {
    v.x = width/2;
    v.y = height/2;
  });
  graph.links.forEach(addLink);
  showGraph();
});

socket.on('node-added', (node) => {
  addLinksFromNeighbors(node);
  updateVisualization();
});

socket.on('oops', (errorMessage) => {
  console.error(errorMessage);
});

socket.on('restart', (graphData) => {
  graph = graphData;
  graph.nodes.forEach(function(v) {
    v.x = width/2;
    v.y = height/2;
  });
  graph.links.forEach(addLink);
  showGraph();
  nodes.classed("win", false);
});

socket.on('room-removed', (room) => {
  // just to be sure, even though we will only get this message for our room
  if (room === roomPath) {
    document.location.href = URL_PREFIX; // go back to overview
  }
})

var graph;
var containerID = "canvas";
var container = document.getElementById(containerID);
var width = container.offsetWidth,
	height = container.offsetHeight;
if (height<width) height=width;
if (height>window.innerHeight) height = window.innerHeight;
var tensionTime = 1000;
var winners;

function updateSpeed(speed) {
  tensionTime = 1000 / speed;
}

function percolate() {
  let originalIDs = [];
  let source2remaining = new Map();
  graph.links.forEach(e => originalIDs.push(link2id(e)));
  graph.nodes.forEach(n => source2remaining.set(n.id,[]));

  let onPercolateStarted = (data) => {
    winners = data.winners;
    //console.log(data.remainingLinks);
    //console.log(source2remaining);
    data.remainingLinks.forEach(e =>
        source2remaining.get(parseInt(e[0])).push(parseInt(e[1])));
    dramaticallyRemoveLinks(source2remaining, originalIDs, 0);
  };

  socket.emit('percolate', roomPath);
  socket.once('percolate-start', onPercolateStarted);
}

function restart() {
  socket.emit('restart', roomPath);
}

function dramaticallyRemoveLinks(source2remaining,originalIDs,idx) {
  if (idx>=originalIDs.length) {
    // Notify the server that the percolation has ended
    socket.emit('percolate-done', roomPath);
    // Make winners green
    nodes.classed("win",n=>winners.includes(n.id));
    return;
  }
  let id = originalIDs[idx];
  let source = parseInt(id.substr(1).split('-')[0]);
  let target = parseInt(id.substr(1).split('-')[1]);
  let remove = !source2remaining.get(source).includes(target);
  let elem = document.getElementById(id);
  elem.classList.add('percolating');
  setTimeout(function() {
    if (remove) {
      graph.links.splice(graph.links.indexOf(elem.__data__),1);
      d3.select("#links").selectAll("line").data(graph.links,link2id).exit().remove();
      simulation = simulation.nodes(graph.nodes).force("link", d3.forceLink(graph.links).id(d => d.name));
      simulation.alpha(1).restart();
    } else {
      elem.classList.remove('percolating');
      elem.classList.add('survived');
    }
    dramaticallyRemoveLinks(source2remaining,originalIDs,idx+1);
  }, tensionTime);
}

// A mapping from node/link to its id name
var node2id = v=>`node${v.id}`;
var link2id = e=>`e${e.source.id}-${e.target.id}`;

// Update the visualization after graph is changed.
var nodes,circles,labels,links,drag,simulation,svg;
function updateVisualization() {
  links = d3.select("#links").selectAll("line").data(graph.links,link2id);
  var linkEnter = links.enter()
                       .append("line")
                       .attr("id",link2id)
                       .attr("x1",e=>e.x1)
                       .attr("y1",e=>e.y1)
                       .attr("x2",e=>e.x2)
                       .attr("y2",e=>e.y2)
                       .attr("stroke-width", 1.5);
  links.exit().remove();
  links = linkEnter.merge(links);

  nodes = d3.select("#nodes").selectAll("g").data(graph.nodes,node2id);
  var nodeEnter = nodes.enter()
                       .append("g")
                       .attr("id",node2id)
                       .attr("transform", d => "translate("+d.x+","+d.y+")")
                       .call(drag(simulation));
  circles = nodeEnter.append("circle")
                 .attr("r", 12)
                 .attr("stroke", "black")
                 .attr("fill", "red");
  labels = nodeEnter.append("text")
                .attr("stroke","black")
                .attr("stroke-width",0.5)
                .text(d => d.name)
                .attr('x', 14)
                .attr('y', 0);
  nodes.exit().remove();
  nodes = nodeEnter.merge(nodes);
  // Update the simulation elements and restart
  simulation = simulation.nodes(graph.nodes).force("link", d3.forceLink(graph.links).id(node2id));
  simulation.alpha(1).restart();
}

function showGraph() {
  drag = simulation => {
    function dragstarted(event) {
      if (!event.active) simulation.alphaTarget(0.3).restart();
      event.subject.fx = event.subject.x;
      event.subject.fy = event.subject.y;
    }

    function dragged(event) {
      event.subject.fx = event.x;
      event.subject.fy = event.y;
    }

    function dragended(event) {
      if (!event.active) simulation.alphaTarget(0);
      event.subject.fx = null;
      event.subject.fy = null;
    }

    return d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended);
  }

  simulation = d3.forceSimulation(graph.nodes)
                 .force("link", d3.forceLink(graph.links).id(node2id))
                 .force("boundary", forceBoundary(15,15,width-15, height-15))
                 .force("charge", d3.forceManyBody().strength(-400))
                 .force("center", d3.forceCenter(width / 2, height / 2).strength(1));
  /*simulation = d3.forceSimulation(graph.nodes)
                 .force("link", d3.forceLink(graph.links).id(node2id))
                 .force("charge", d3.forceManyBody().strength(-800))
                 .force("center", d3.forceCenter(width / 2, height / 2));*/

	svg = d3.select("#"+containerID).append("svg")
							   .attr("width", width)
							   .attr("height", height);

  links = svg.append("g").attr("id","links")
      .attr("stroke", "#999")
      .attr("stroke-opacity", 0.6);

  nodes = svg.append("g").attr("id","nodes")
                  .attr("stroke", "#fff")
                  .attr("stroke-width", 1.5);
  updateVisualization();
  simulation.on("tick", () => {
    links
        .attr("x1", d => d.source.x)
        .attr("y1", d => d.source.y)
        .attr("x2", d => d.target.x)
        .attr("y2", d => d.target.y);

    nodes.attr("transform", d => "translate("+d.x+","+d.y+")");
  });

}

function addNodesFromName(n) {
  graph.nodes.push({name: n, x: width/2, y: height/2})
}

function addLinksFromNeighbors(v) {
  graph.nodes.push({
    'id': v.id,
    'name': v.name,
    'x': width/2,
    'y': height/2
  });
  graph.links.push({
    source: graph.nodes[v.id],
    target: graph.nodes[v.neighbor1],
    x1: graph.nodes[v.id].x,
    y1: graph.nodes[v.id].x,
    x2: graph.nodes[v.neighbor1].x,
    y2: graph.nodes[v.neighbor1].y,
  });
  graph.links.push({
    "source": graph.nodes[v.id],
    "target": graph.nodes[v.neighbor2],
    x1: graph.nodes[v.id].x,
    y1: graph.nodes[v.id].x,
    x2: graph.nodes[v.neighbor2].x,
    y2: graph.nodes[v.neighbor2].y,
  });
}

function addLink(e) {
  e.source = graph.nodes[e.source];
  e.target = graph.nodes[e.target];
  e.x1 = e.source.x;
  e.y1 = e.source.y;
  e.x2 = e.target.x;
  e.y2 = e.target.y;
}

</script>
